<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My Diary</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
    

            <h1>Welcome to the FREE Online diary</h1><br>
            <p> <h2>There's no time like the present - start your free online diary today!</p></h2>
            <label for="Email"><b>Email</b></label>
            <br><input type="text" placeholder="" name="Email" required>
            <!-- <br><a></a>Already registered?</a>  -->
            <br><a href="login.html" class="btn" >login </a> 
            <br><p>Please note that no password is used yet. It will be created when your Email address is verified</p>

            <br><br><br><a href="create.html" class="btn">Create Your Diary</a>
            <br><br><br><a href="manage.html" class="btn">Manage Your Diary</a>
            <br><br><br><a href="view.html" class="btn">View Your Diary</a>
        </div>
        
        
    </html>
    