<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My Diary</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="UI/templates/style.css"> -->
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>  
              
               
                <div class="container">
                        <h2>Create Your Diary</h2>
                        <table> 
                            <tr>
                                <th>Date</th>
                                <th>Title</th>
                                <th>Country</th>
                                <th>Add Entry</th>
                             </tr> 
                             <td> <input type="date"  name="date" placeholder=""></td>
                             <td><input type="text"  name="title" placeholder=""></td>
                             <td><select  name="country">
                                    <option value="australia">Uganda</option>
                                    <option value="canada">Kenya</option>
                                    <option value="usa">Nigeria</option>
                                    <option value="australia">Kigali</option>
                                    <option value="canada">Newyork</option>
                                    <option value="usa">USA</option>
                                  </select></td>
                                  <br><br><td><textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea></td>
                             <tr>
                                    <td> <input type="date"  name="date" placeholder=""></td>
                                    <td><input type="text"  name="title" placeholder=""></td>
                                    <td><select  name="country">
                                           <option value="australia">Uganda</option>
                                           <option value="canada">Kenya</option>
                                           <option value="usa">Nigeria</option>
                                           <option value="australia">Kigali</option>
                                           <option value="canada">Newyork</option>
                                           <option value="usa">USA</option>
                                         </select></td>
                                         <td><textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea></td>
                                    <tr>
               
        











                             </tr>
                             
                             
                        </table>
                        
                  
                      
                    </body>
                      <input type="Save" value="Save">
                      </html>
                      
