<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My Diary</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <!-- <div class="body"> -->
                <!-- <div class="topnav"> -->
                <!-- <a>Create your diaries</a> -->
                <!-- <a>Manage your diaries</a> -->
                <!-- <a> View your diaries</a> -->
                <!-- </div> -->
             
        </header> 
        <section>
            <body>
                <div class="contentwrapper">
                <div class="cat">
                <div class="diary" >
                <div id="myLogo">
                          <!-- space for logo -->
                                        
                </div>
                <div id="ten">
                         <h1> Your online diary</h1>
                         <h1>write down your life</h1>
                </div>
                                                                                                                                                                                                                                                                                </div>
                <div class="login">
                        <h1>login</h1>
                <div class="container">
                         <br><br><br>
                         <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="" name="uname" required>
                             <br>
                                <label for="psw"><b>Password</b></label>
                                <input type="password" placeholder="" name="psw" required>
                              </br>
                                        
                                               
                         <label></br></div>
                <div class="here">
                         <br><a href="signup.html">sign up here</a>  
                                 </br>
                                 </div> 
                                            
                                                  
                                          </label>
                                        <div class="row">
                                                        
                                                       
                                                        
                                            </div>
                                            </div>
                                            </div>
                        <div class="welcome">
                                
                                    <h1>Welcome to the FREE Online diary</h1><br>
                                    <p> <h2>There's no time like the present - start your free online diary today!</p></h2>
                                        
                                            <div class="row">
                                                <a href="create.html" class="btn">Create Your Diary</a>
                                                <a href="manage.html" class="btn">Manage Your Diary</a>
                                                <a href="view.html" class="btn">View Your Diary</a>
                                            </div>
                    </div>
                 </body>
                </html>
                