<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My Diary</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
         <div class="container">
                          <br><br><h2><label for="username"><b>Username</b></label></h2>
                          <input type="text" placeholder="" name="username" required>
                      
                          <br><h2><label for="psw"><b>Password</b></label></h2>
                          <input type="password" placeholder="" name="psw" required>
                      
                          <!-- <br><button type="submit">Login</button> -->
                         <br><br> <a href="login.html" class="btn">Login</a>
                          <label>
                         <br><br><input type="checkbox" checked="checked" name="Forgot password"> Forgot password
                         <p> Click </p>
                         <a href="signup.html">here</a>  
                         
                        </div>
                        </body>
                        </html>