<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My Diary</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1> TERMS AND PRIVACY</h1>
        <p>This Agreement of Service govern your access to and use of my diary
            
           <br> websites, services, and applications (collectively the "Service") 
            provided by Construction Diaries Limited a company  and
             
             <br> Your access to and use of the Service is conditioned on
              your acceptance of and
               compliance with this Agreement. this Agreement apply to all visitors, users and 
               others who access or use the Service.

               <br> This Agreement of use (“Terms”), together with our Privacy Policy 
               (together the “Agreement”),
                 describe the terms and conditions on which you may make 
                 use of our website  whether as a guest or a registered user.
                 <br> Use of our site includes accessing,
                  browsing, or registering to use our site.
                 <br><br> <a href='terms.html' class="btn">Terms and Privacy</a>


        </p>
        <header>
            </header>
            </body>
            </html>