<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My Diary</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>



<h2>View your Diaries</h2>
<FORM action="/scripts/as_web7.exe" method="Get">

    <INPUT Type=Hidden Name=Command value=Search>
    
    <INPUT Type=Hidden Name=File value="DATAFILE.ASK"> 
    
    <INPUT Type=Hidden Name=NumRows value=10> 
    
    
    
    Enter your Search:<BR>
    
    <INPUT Type=Text Size=45 Name=Request>
    
    <INPUT Type=Submit Value=Search><P>
    
    </FORM>

<table style="width:90%">
  <tr>
    <th>EMAIL</th>
    <th>YOUR STORIES</th> 
    <th>MODIFY</th>
  </tr>
  <tr>
    <td><h4>Jill@gmail.com</td></h4>
    <td><h4> for a one-of-a-kind personalised
        <br> place to keep track of your plans?
         Partridge & Bell’s customisable diary lets you emboss your name on the cover</td></h4>
    <td><br>
            <div class="submit">
                    <button type="submit">Edit</button> <button type="submit">Add</button>
                    <br><br></tr></tr></div>
                            
  </tr>
  <tr>
    <td><h4>Eve@gmail.com</td></h4>
    <td><h4>     




    </td></h4>
         <td><div class="submit">
                <button type="submit">Edit</button> <button type="submit">Add</button>
            </td> <tr></tr></div >
        
           
  </tr>
  <tr>
    <td><h4>Rit1@gmail.com</td></h4> 
    <td><h4> I am absolutely,completely and utterly stressed out now,
         i have dance exams in 4 days. 
       <br> i have to do it in front of audience but
         i hate solos.The the reports have been handed out,
         surpringly, all my grades where all average expected level or higher.
       <br> Things have been pretty boring around, I`w been completing homework on time 
     but its a complete struggle and its super boring. luckily, the stress is starting to fade now though.</td></h4>
        <td> <div class="submit">
                <button type="submit">Edit</button> <button type="submit">Add</button>
                </td><tr></tr></div>
                
    
            
  </tr>
</table>

</body>
</html>
