.contentwrapper{
    border: 12px solid red;
    display: flex;
    flex-direction: column;
    
}
.dog{
    border: 5px solid blue;
    border-radius: 4px;
    width: 50%;
    display: flex;

}
.hen{
    border: 5px solid blue;
    border-radius: 4px;
    width: 50%;
    display: flex;

}
.welcome{
    border: 10px solid green;
}

.cat{
    border: 10px solid yellow;
    display: flex;
    flex-direction: row;

}